div {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 100px
}

h1 {
  color: darkmagenta;
}


table {
  border: 2px solid black;
  padding: 2px;
  width: 40%;
  text-align: center;
}


th, td {
  border: 1px solid black;
  padding: 2px;
}


.content {
  padding: 10px;
}
